<dynamic-form [config]="config"
              #form="dynamicForm"
              (removeControl)="onRemove($event)">
</dynamic-form>
<button mat-icon-button
        color="primary"
        (click)="addInput()"
        matTooltip="Add a size"
        matTooltipPosition="left">
  <mat-icon>add</mat-icon>
</button>
<button mat-icon-button
        color="primary"
        (click)="removeInput()"
        matTooltip="Remove a size"
        matTooltipPosition="right">
  <mat-icon>remove</mat-icon>
</button>