<div fxLayout="row wrap">
  <mat-form-field fxFlex>
    <input [formControl]="label"
           type="text"
           matInput
           placeholder="Attribute"
           (input)="labelChange($event)"
           required>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-select [formControl]="color"
                placeholder="Color"
                (selectionChange)="colorChange($event)"
                required>
      <mat-option value="primary">Primary</mat-option>
      <mat-option value="accent">Accent</mat-option>
      <mat-option value="warn">Warn</mat-option>
    </mat-select>
  </mat-form-field>
</div>