<h2>ITEMS</h2>
<div fxLayout="row"
     fxLayoutAlign="space-between start"
     fxLayoutGap="16px">
        <mat-form-field fxFlex>
                <mat-select placeholder="Order by"
                            (selectionChange)="onOrderByChange($event)"
                            value="createdAt">
                        <mat-option *ngFor="let option of orderBy"
                                    [value]="option.value">{{option.label}}</mat-option>
                </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
                <mat-select placeholder="Direction"
                            (selectionChange)="onDirectionChange($event)"
                            value="asc">
                        <mat-option value="asc">Ascendant</mat-option>
                        <mat-option value="desc">Descendant</mat-option>
                </mat-select>
        </mat-form-field>
</div>
<div class="wrapper"
     fxLayout="row wrap"
     fxLayoutAlign="space-around stretch">
        <app-item-card fxFlex.gt-lg="25%"
                       fxFlex.lg="33%"
                       fxFlex.md="33%"
                       fxFlex.lt-md="100%"
                       *ngFor="let item of items | async"
                       [item]="item"></app-item-card>
</div>
<div fxLayout
     fxLayoutAlign="space-between">
        <button mat-icon-button
                (click)="previous()"
                [disabled]="previousDisabled">
                <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button
                (click)="next()"
                [disabled]="nextDisabled">
                <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
</div>