<label #label>
  <input type="file"
         accept="image/*"
         (change)="onImageChange($event)">
</label>

<div [formGroup]="group">
  <input type="text"
         [formControlName]="config.name">
</div>


<div fxLayout="row"
     fxLayoutAlign="start center">

  <button mat-icon-button
          color="primary"
          type="button"
          (click)="label.click()">
    <mat-icon>add_a_photo</mat-icon>
  </button>

  <img [fxShow]="!!url"
       [src]="url"
       alt="preview">

  <span *ngIf="!url">Choose an image...</span>

  <button mat-icon-button
          color="warn"
          type="button"
          (click)="label.click()">
    <mat-icon>clear</mat-icon>
  </button>
</div>