:host {
  display: block;
  flex-basis: 100%;
  flex-grow: 1;
  input[type="file"],
  input[type="text"] {
    display: none;
  }
  img {
    display: block;
    height: 100px;
    width: auto;
    margin: 1em 1em 1em 1em;
  }
  span {
    margin-top: 6px;
  }
}