<h2>ABOUT</h2>

<div class="wrapper"
     fxLayout
     fxLayoutAlign="center center">
  <div fxFlex.gt-md="50%"
       fxFlex.md="75%"
       fxFlex.lt-md="100%">

    <mat-card>
      <mat-card-subtitle>
        <h3>Lorem</h3>
      </mat-card-subtitle>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos minima velit asperiores veniam, temporibus rerum exercitationem
          blanditiis tempora, ducimus ratione corrupti accusantium tempore maiores doloribus ipsam odio soluta unde hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos minima velit asperiores veniam, temporibus rerum exercitationem
          blanditiis tempora, ducimus ratione corrupti accusantium tempore maiores doloribus ipsam odio soluta unde hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos minima velit asperiores veniam, temporibus rerum exercitationem
          blanditiis tempora, ducimus ratione corrupti accusantium tempore maiores doloribus ipsam odio soluta unde hic.</p>
      </mat-card-content>

      <mat-card-subtitle>
        <h3>Lorem</h3>
      </mat-card-subtitle>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos minima velit asperiores veniam, temporibus rerum exercitationem
          blanditiis tempora, ducimus ratione corrupti accusantium tempore maiores doloribus ipsam odio soluta unde hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos minima velit asperiores veniam, temporibus rerum exercitationem
          blanditiis tempora, ducimus ratione corrupti accusantium tempore maiores doloribus ipsam odio soluta unde hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos minima velit asperiores veniam, temporibus rerum exercitationem
          blanditiis tempora, ducimus ratione corrupti accusantium tempore maiores doloribus ipsam odio soluta unde hic.</p>
      </mat-card-content>

      <mat-card-subtitle>
        <h3>Lorem</h3>
      </mat-card-subtitle>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos minima velit asperiores veniam, temporibus rerum exercitationem
          blanditiis tempora, ducimus ratione corrupti accusantium tempore maiores doloribus ipsam odio soluta unde hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos minima velit asperiores veniam, temporibus rerum exercitationem
          blanditiis tempora, ducimus ratione corrupti accusantium tempore maiores doloribus ipsam odio soluta unde hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos minima velit asperiores veniam, temporibus rerum exercitationem
          blanditiis tempora, ducimus ratione corrupti accusantium tempore maiores doloribus ipsam odio soluta unde hic.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>