<div class="wrapper"
     fxLayout
     fxLayoutAlign="center start">

  <mat-card fxFlex.gt-lg="50%"
            fxFlex.lg="65%"
            fxFlex.lt-lg="100%">
    <mat-card-title [matTooltip]="item?.label"
                    matTooltipPosition="below">{{item?.label}}</mat-card-title>
    <mat-card-subtitle fxLayout
                       fxLayoutGap="16px">
      <span [style.textDecoration]="item?.sale !== 0 ? 'line-through' : 'none'">{{item?.price | currency}}</span>
      <span *ngIf="item?.sale !== 0"
            class="text-warn">{{item?.price - item?.sale | currency}}</span>
    </mat-card-subtitle>

    <mat-divider></mat-divider>

    <mat-card-content fxLayout
                      fxLayout.lt-lg="column"
                      fxLayoutGap="16px">

      <div fxFlex="50%"
           class="image-wrapper">
        <img class="item-img"
             [src]="image.src"
             [alt]="image.alt">
      </div>

      <div fxFlex="50%"
           fxLayout="column"
           fxLayoutAlign="space-between"
           fxLayoutGap="24px">

        <app-image-selector [images]="item?.pictures"
                            (selectedChange)="onSelectedImageChange($event)"></app-image-selector>

        <div>
          <div>
            <h3>Description</h3>
            <p>{{item?.description}}</p>
          </div>
          <div>
            <p>Ref: {{item?.id}}</p>
          </div>
        </div>

        <div>
          <form [formGroup]="form"
                (ngSubmit)="onSubmit()"
                fxLayout="column">
            <mat-form-field>
              <mat-select formControlName="size"
                          required
                          placeholder="Size">
                <ng-container *ngFor="let size of item?.sizes">
                  <mat-option *ngIf="size.stock > 5"
                              [value]="size.label">{{size.label}}</mat-option>
                  <mat-option *ngIf="size.stock <= 5 && size.stock > 0"
                              [value]="size.label">{{size.label}} - Only {{size.stock}} left</mat-option>
                  <mat-option *ngIf="size.stock == 0"
                              [value]="size.label"
                              disabled>{{size.label}} - Unavailable</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>

            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="!form.valid">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </form>
        </div>

      </div>

    </mat-card-content>

    <mat-divider class="mat-divider-shifted"></mat-divider>

    <mat-card-footer fxLayout
                     fxLayoutAlign="start center">

      <mat-chip-list>
        <ng-container *ngFor="let attribute of item?.attributes">
          <mat-chip selected
                    [color]="attribute.color">{{attribute.label}}</mat-chip>
        </ng-container>
        <mat-chip *ngIf="item?.sale !== 0"
                  selected
                  color="warn">On sale</mat-chip>
      </mat-chip-list>

      <span fxFlex> </span>

      <div>

      </div>

    </mat-card-footer>
  </mat-card>
</div>