<h2>{{item?.label | uppercase}}</h2>




<!-- <a mat-raised-button
         color="accent"
         [routerLink]="['update']">Update</a> -->









<div fxLayout
     fxLayoutAlign="center center">
  <span fxLayout="column"
        fxLayoutAlign="center stretch"
        fxLayoutGap="8px">
    <app-image-selector [images]="item?.pictures"
                        (selectedClick)="onSelectedImageClick($event)">
    </app-image-selector>

    <mat-card fxLayout="column">

      <mat-card-content fxLayout
                        fxLayoutAlign="space-between center">
        <mat-chip-list>
          <ng-container *ngFor="let attribute of item?.attributes">
            <mat-chip selected
                      [color]="attribute.color">{{attribute.label}}</mat-chip>
          </ng-container>
          <mat-chip *ngIf="item?.sale !== 0"
                    selected
                    color="warn">On sale</mat-chip>
          <mat-chip *ngIf="isNew(item)"
                    selected
                    color="accent">New</mat-chip>
        </mat-chip-list>
        <mat-card-subtitle fxLayout
                           fxLayoutGap="16px">
          <span [style.textDecoration]="item?.sale !== 0 ? 'line-through' : 'none'">{{item?.price | currency}}</span>
          <span *ngIf="item?.sale !== 0"
                class="text-warn">{{item?.price - item?.sale | currency}}</span>
        </mat-card-subtitle>
      </mat-card-content>



      <mat-card-content>
        <div class="description">
          <h3>Description</h3>
          <p>{{item?.description}}</p>
        </div>
        <h3>Reference </h3>
        <p>{{item?.id}}</p>
      </mat-card-content>




    </mat-card>
    <mat-card>
      <form [formGroup]="form"
            (ngSubmit)="onSubmit()"
            fxLayout="row"
            fxLayoutAlign="start center">
        <mat-form-field fxFlex>
          <mat-select formControlName="size"
                      required
                      placeholder="Size">
            <ng-container *ngFor="let size of item?.sizes">
              <mat-option *ngIf="size.stock > 5"
                          [value]="size.label">{{size.label}}</mat-option>
              <mat-option *ngIf="size.stock <= 5 && size.stock > 0"
                          [value]="size.label">{{size.label}} - Only {{size.stock}} left</mat-option>
              <mat-option *ngIf="size.stock == 0"
                          [value]="size.label"
                          disabled>{{size.label}} - Unavailable</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <button mat-icon-button
                color="primary"
                type="submit"
                [disabled]="!form.valid">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </form>
    </mat-card>

    <mat-card *ngIf="isAdmin() | async">
      <mat-card-content>
        <a mat-raised-button
           [routerLink]="['update']">Update</a>
        <a mat-raised-button
           [routerLink]="['delete']">Delete</a>
      </mat-card-content>
    </mat-card>

  </span>
</div>