<div class="wrapper"
     fxLayout
     fxLayoutAlign="center center">

  <mat-card fxFlex.gt-md="50%"
            fxFlex.md="75%"
            fxFlex.lt-md="100%">
    <mat-card-title [matTooltip]="item?.label"
                    matTooltipPosition="below">{{item?.label}}</mat-card-title>
    <mat-card-subtitle fxLayout
                       fxLayoutGap="16px">
      <span [style.textDecoration]="item?.sale !== 0 ? 'line-through' : 'none'">{{item?.price | currency}}</span>
      <span *ngIf="item?.sale !== 0"
            class="text-warn">{{item?.price - item?.sale | currency}}</span>
    </mat-card-subtitle>

    <mat-divider></mat-divider>
    <mat-card-content>
      <div fxLayout="column">
        <div fxLayout
             fxLayoutAlign="center center">
          <div class="item-img-wrapper">
            <img class="item-img"
                 [src]="item?.picture"
                 alt="picture">
          </div>
        </div>

        <div fxLayout="column">
          <div class="item-description-wrapper">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo ullam eaque nulla facilis, omnis natus optio recusandae
              maxime vitae. Officiis, quidem molestiae. Nobis aspernatur, tempore repudiandae temporibus in modi iure?</p>
          </div>

          <div class="item-options-wrapper">
            <form [formGroup]="form"
                  (ngSubmit)="onSubmit()"
                  fxLayout="column">
              <mat-form-field>
                <mat-select formControlName="size"
                            required
                            placeholder="Size">
                  <mat-option *ngFor="let size of item?.availableSizes"
                              [value]="size">{{size}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select formControlName="quantity"
                            required
                            placeholder="Quantity">
                  <mat-option *ngFor="let quantity of [1,2,3,4,5]"
                              [value]="quantity">{{quantity}}</mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-raised-button
                      color="primary"
                      type="submit"
                      [disabled]="!form.valid">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
            </form>
          </div>

        </div>

      </div>
    </mat-card-content>
    <mat-divider class="mat-divider-shifted"></mat-divider>
    <mat-card-footer fxLayout
                     fxLayoutAlign="start center">

      <mat-chip-list>
        <ng-container *ngFor="let attribute of item?.attributes">
          <mat-chip selected
                    [color]="attribute == 'Fair Trade' ? 'accent' : 'primary'">{{attribute}}</mat-chip>
        </ng-container>
        <mat-chip *ngIf="item?.sale !== 0"
                  selected
                  color="warn">On sale</mat-chip>
      </mat-chip-list>

      <span fxFlex> </span>

      <div>

      </div>

    </mat-card-footer>
  </mat-card>
</div>