@import '~@angular/material/theming';
:host {
  display: block;
  .wrapper-selected {
    // max-height: 600px;
  }
  .img-selected {
    // max-height: 600px;
    @include mat-elevation(2);
    cursor: pointer;
  }
  .wrapper-miniature {
    @include mat-elevation(2);
    padding: 8px 8px
  }
  .img-miniature {
    cursor: pointer;
    width: auto;
    height: 100px;
    display: block;
    @include mat-elevation(2);
    &.line-bottom {
      @include mat-elevation(8);
    }
  }
}