:host {
  border: 8px solid transparent;
  box-sizing: border-box;
  mat-card {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  mat-card-subtitle {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  mat-card-subtitle,
  mat-card-content,
  mat-card-footer {
    margin: 0;
  }
  mat-card-subtitle {
    padding: 6px;
  }
  .mat-divider-shifted {
    margin-top: -4px;
  }
  div.item-img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  img.item-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}