<div fxLayout="row wrap">
  <mat-form-field fxFlex>
    <input [formControl]="label"
           type="text"
           matInput
           placeholder="Size"
           (input)="labelChange($event)"
           [value]="value.label"
           required>
  </mat-form-field>
  <mat-form-field fxFlex>
    <input [formControl]="stock"
           type="number"
           matInput
           placeholder="Stock"
           (input)="stockChange($event)"
           [value]="value.stock"
           required>
  </mat-form-field>
</div>